ShivaProd/src/main/resources/wsdl/calipso/WebServiceReversionCobros.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--WSDL file generated by PHP WSDLCreator (http://www.protung.ro) -->
<definitions name="WSDL" targetNamespace="urn:WSDL"
	xmlns:typens="urn:WSDL" xmlns:tns="urn:WSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:WSDL">


			<xsd:complexType name="detalleacuerdocontrato">
				<xsd:sequence>
					<xsd:element name="EstadoAcuerdo" type="xsd:string" />
					<xsd:element name="EstadoCargo" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="detallefactura">
				<xsd:sequence>
					<xsd:element name="DetResultadoFactura" type="tns:resultadoservicio" />
					<xsd:element name="DetAcuerdoContracargo" type="tns:detalleacuerdocontrato" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="mediodepago">
				<xsd:sequence>
					<xsd:element name="TipoComprobante" type="xsd:string" />
					<xsd:element name="ClaseComprobante" type="xsd:string" />
					<xsd:element name="SucursalComprobante" type="xsd:string" />
					<xsd:element name="NumeroComprobante" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="listadetallemediospago">
				<xsd:sequence>
					<xsd:element name="DetMedioPago" minOccurs="1"
						maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="IdMedioPago" type="tns:mediodepago" />
								<xsd:element name="idDocumentoCuentasCobranza" type="xsd:integer" />
								<xsd:element name="DetResultadoMedioPago" type="tns:resultadoservicio" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="detallecargos">
				<xsd:sequence>
					<xsd:element name="EstadoAcuerdo" type="xsd:string" />
					<xsd:element name="EstadoCargo" type="xsd:string" />
					<xsd:element name="InteresesTrasladados" type="xsd:decimal" />
					<xsd:element name="DetResultadoCargo" type="tns:resultadoservicio" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="detalleoperacionrelacionadashiva">
				<xsd:sequence>
					<xsd:element name="idOperacionShiva" type="xsd:string" />
					<xsd:element name="idTransaccionShiva" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="detalleoperacionrelacionadalegado">
				<xsd:sequence>
					<xsd:element name="idCobranza" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="detalledoc">
				<xsd:sequence>
					<xsd:element name="IdDocumento" type="tns:mediodepago" />
					<xsd:element name="idDocumentoCuentasCobranza" type="xsd:integer" />
					<xsd:element name="IdClienteLegado" type="xsd:integer" />
					<xsd:element name="importe" type="xsd:decimal" />
					<xsd:element name="fechaCob" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="listadetalleoperacionesrelacionadas">
				<xsd:sequence>
					<xsd:element name="OperacionRelacionado" minOccurs="1"
						maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Sistema" type="xsd:string" />
								<xsd:element name="DetOperacionRelacionadaShiva"
									type="tns:detalleoperacionrelacionadashiva" />
								<xsd:element name="DetOperacionRelacionadaLegado"
									type="tns:detalleoperacionrelacionadalegado" />
								<xsd:element name="DetalleDocumento" type="tns:detalledoc" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="documento">
				<xsd:sequence>
					<xsd:element name="Tipo" type="xsd:string" />
					<xsd:element name="Clase" type="xsd:string" />
					<xsd:element name="Sucursal" type="xsd:string" />
					<xsd:element name="Numero" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="detalleGeneral">
				<xsd:sequence>
					<xsd:element name="idCobranza" type="xsd:integer" />
					<xsd:element name="importe" type="xsd:decimal" />
					<xsd:element name="importeCapital" type="xsd:decimal" />
					<xsd:element name="importeImpuestos" type="xsd:decimal" />
					<xsd:element name="idDocumento" type="tns:documento" />
					<xsd:element name="idDocumentoCuentasCobranza" type="xsd:integer" />
					<xsd:element name="vencimiento" type="xsd:string" />
					<xsd:element name="fechaImputacion" type="xsd:string" />
					<xsd:element name="importeAplicado" type="xsd:decimal" />
					<xsd:element name="origenDelDocumento" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="detalleOriginal">
				<xsd:sequence>
					<xsd:element name="idDocumento" type="tns:documento" />
					<xsd:element name="idDocumentoCuentasCobranza" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="listacreditosydebitos">
				<xsd:sequence>
					<xsd:element name="detallecreditosydebitos" minOccurs="1"
						maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
									<xsd:element name="detalleGen" type="tns:detalleGeneral" />
									<xsd:element name="detalleOri" type="tns:detalleOriginal" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="RespuestaReversion">
				<xsd:sequence>
					<xsd:element name="idTransaccionShiva" type="xsd:string" />
					<xsd:element name="tipoOperacion" type="xsd:string" />
					<xsd:element name="DetResultadoServicio" type="tns:resultadoservicio" />
					<xsd:element name="DetFactura" type="tns:detallefactura" />
					<xsd:element name="ListaDetMediosPago" type="tns:listadetallemediospago" />
					<xsd:element name="DetCargo" type="tns:detallecargos" />
					<xsd:element name="ListaDetOpRelacionadas"
						type="tns:listadetalleoperacionesrelacionadas" />
					<xsd:element name="listaCreDeb" type="tns:listacreditosydebitos" />
				</xsd:sequence>
			</xsd:complexType>



			<xsd:complexType name="resultadoservicio">
				<xsd:sequence>
					<xsd:element name="resultado" type="xsd:string" />
					<xsd:element name="codigoerror" type="xsd:string" />
					<xsd:element name="descripcionerror" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


			<xsd:complexType name="detallefacturas">
				<xsd:sequence>
					<xsd:element name="idCobranza" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="detallecargo">
				<xsd:sequence>
					<xsd:element name="idMovMer" type="xsd:integer" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="listaCtaCrereversiones">
				<xsd:sequence>
					<xsd:element name="detalle" minOccurs="1" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="idCobranza" type="xsd:integer" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="detallecontracargofac">
				<xsd:sequence>
					<xsd:element name="facturarContracargo" type="xsd:string" />
					<xsd:element name="acuerdo" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="detallecontracargocar">
				<xsd:sequence>
					<xsd:element name="facturarContracargo" type="xsd:string" />
					<xsd:element name="acuerdo" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>


		</xsd:schema>
	</wsdl:types>
	<message name="Reversion">
		<part name="idOperacionShiva" type="xsd:string" />
		<part name="idTransaccionShiva" type="xsd:string" />
		<part name="usuarioCobrador" type="xsd:string" />
		<part name="tipoOperacion" type="xsd:string" />
		<part name="modoOperacion" type="xsd:string" />
		<part name="detalleFactura" type="tns:detallefacturas" />
		<part name="detalleCargos" type="tns:detallecargo" />
		<part name="listaCtaCre" type="tns:listaCtaCrereversiones" />
		<part name="detalleContracargoFac" type="tns:detallecontracargofac" />
		<part name="detalleContracargoCar" type="tns:detallecontracargocar" />
	</message>
	<message name="ReversionResponse">
		<part name="RespuestaConsulta" type="tns:RespuestaReversion" />
	</message>

	<portType name="WebServiceReversionCobrosPortType">
		<operation name="Reversion">
			<documentation>Metodo que nos devuelve los resultados
				del proceso de
				la reversion de cobros.
			</documentation>
			<input message="typens:Reversion" />
			<output message="typens:ReversionResponse" />
		</operation>

	</portType>
	<binding name="WebServiceReversionCobrosBinding" type="typens:WebServiceReversionCobrosPortType">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="Reversion">
			<soap:operation soapAction="urn:WebServiceReversionCobrosAction" />
			<input>
				<soap:body namespace="urn:WSDL" use="literal"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:WSDL" use="literal"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>

	</binding>
	<service name="WSDLService">
		<port name="WebServiceReversionCobrosPort" binding="typens:WebServiceReversionCobrosBinding">
			<soap:address location="http://10.78.100.214/Web_Ev2_int/ReversionCobrosWS.php" />
		</port>
	</service> 
</definitions>