ShivaProd/src/main/resources/wsdl/calipso/WebServiceCalipsoCargos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--WSDL file generated by PHP WSDLCreator (http://www.protung.ro) -->
<definitions name="WSDL" targetNamespace="urn:WSDL"
	xmlns:typens="urn:WSDL" xmlns:tns="urn:WSDL" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema targetNamespace="urn:WSDL">
		
			<xsd:complexType name="detCargo">
				<xsd:sequence>
					<xsd:element name="acuerdo" type="xsd:string" />
					<xsd:element name="importe" type="xsd:decimal" />
					<xsd:element name="fechaDesde" type="xsd:string" />
					<xsd:element name="fechaHasta" type="xsd:string" />
					<xsd:element name="tipoMora" type="xsd:string" />
					<xsd:element name="algoritmoMora" type="xsd:string" />
					<xsd:element name="importeBonificacionIntereses" type="xsd:decimal" />
					<xsd:element name="origenCargo" type="xsd:string" />
					<xsd:element name="leyendaFacturaCargo" type="xsd:string" />
					<xsd:element name="leyendaFacturaInteres" type="xsd:string" />
					<xsd:element name="monedaCargo" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="RespuestaCargo">
				<xsd:sequence>
					<xsd:element name="idTransaccionShiva" type="xsd:string" />
					<xsd:element name="idMovMer" type="xsd:integer" />
					<xsd:element name="montoCalculadoMora" type="xsd:decimal" />
					<xsd:element name="montoACuenta" type="xsd:decimal" />
					<xsd:element name="interesesBonificados" type="xsd:decimal" />
					<xsd:element name="monedaIntereses" type="xsd:string" />
					<xsd:element name="Resultado" type="tns:resultadocargo" />
				</xsd:sequence>
			</xsd:complexType>
			
		

			<xsd:complexType name="resultadocargo">
				<xsd:sequence>
					<xsd:element name="resultado" type="xsd:string" />
					<xsd:element name="codigoerror" type="xsd:string" />
					<xsd:element name="descripcionerror" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			
		</xsd:schema>
	</wsdl:types>
	<message name="generacionCargo">
		<part name="idOperacionShiva" type="xsd:string" />
		<part name="idTransaccionShiva" type="xsd:string" />
		<part name="usuarioCobrador" type="xsd:string" />
		<part name="tipoOperacion" type="xsd:string" />
		<part name="modoOperacion" type="xsd:string" />
		<part name="detalleCargo" type="tns:detCargo" />
	</message>
	<message name="generacionCargoResponse">
	    <part name="RespuestaConsulta" type="tns:RespuestaCargo" />
	</message>
	
	<portType name="WebServiceCalipsoCargosPortType">
		<operation name="generacionCargo">
			<documentation>Metodo que nos devuelve los resultados
				del proceso de la carga de cargos
			</documentation>
			<input message="typens:generacionCargo" />
			<output message="typens:generacionCargoResponse" />
		</operation>

	</portType>
	<binding name="WebServiceCalipsoCargosBinding" type="typens:WebServiceCalipsoCargosPortType">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="generacionCargo">
			<soap:operation soapAction="urn:WebServiceCalipsoCobranzasAction" />
			<input>
				<soap:body namespace="urn:WSDL" use="literal"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body namespace="urn:WSDL" use="literal"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		
	</binding>
	<service name="WSDLService">
		<port name="WebServiceCalipsoCargosPort" binding="typens:WebServiceCalipsoCargosBinding">
			<soap:address location="http://10.11.34.85/Web_Ev1_Des/CargosWS.php" />
		</port>
	</service>
</definitions>