ShivaProd/src/main/resources/wsdl/delta/consultarTeamComercialClienteReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.telecom.com.ar/XMLSchema/bios/cliente/consultarTeamComercialRequest" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.telecom.com.ar/XMLSchema/bios/cliente/consultarTeamComercialRequest">
	<element name="consultarTeamComercialClienteReq">
		<complexType>
			<sequence>
				<element name="legado">
					<complexType>
						<attribute name="legadoClienteID" type="string" use="required"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>