ShivaProd/src/main/resources/wsdl/sap/r3/ZFI_SHIVA_VENDOR_FIND_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>
	<wsp:UsingPolicy wsdl:required="true" />
	<wsp:Policy wsu:Id="BN__ZFI_SHIVA_VENDOR_FIND_BND">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
					wsp:Optional="true" />
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
					xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="BN__ZFI_SHIVA_VENDOR_FIND_BND_soap12">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
					wsp:Optional="true" />
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
			<wsp:All>
				<sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
				<saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
					xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
				<wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
				<wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
					<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
						xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing"
						xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
						xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
						<wsp:Policy>
							<sp:TransportToken>
								<wsp:Policy>
									<sp:HttpsToken>
										<wsp:Policy>
											<sp:HttpBasicAuthentication />
										</wsp:Policy>
									</sp:HttpsToken>
								</wsp:Policy>
							</sp:TransportToken>
							<sp:AlgorithmSuite>
								<wsp:Policy>
									<sp:Basic128Rsa15 />
								</wsp:Policy>
							</sp:AlgorithmSuite>
							<sp:Layout>
								<wsp:Policy>
									<sp:Strict />
								</wsp:Policy>
							</sp:Layout>
						</wsp:Policy>
					</sp:TransportBinding>
				</wsp:All>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="IF__ZFI_SHIVA_VENDOR_FIND_WS">
		<wsp:ExactlyOne>
			<wsp:All>
				<sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
					<sapsession:enableSession>false</sapsession:enableSession>
				</sapsession:Session>
				<sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
					wsp:Optional="true">
					<sapcentraladmin:BusinessApplicationID>00163E57F3B31EE894E07E20E8F82DFB</sapcentraladmin:BusinessApplicationID>
				</sapcentraladmin:CentralAdministration>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="OP__ZFI_SHIVA_VENDOR_FIND">
		<wsp:ExactlyOne>
			<wsp:All>
				<saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
				<sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
				<sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
				<saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char1">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="1" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char16">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="16" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char20">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="20" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char220">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="220" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char4">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="numeric3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3" />
					<xsd:pattern value="\d*" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="ZFISSH001_I">
				<xsd:sequence>
					<xsd:element name="TAX_NO_1" type="tns:char16" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZFISSH001">
				<xsd:sequence>
					<xsd:element name="TAX_NO_1" type="tns:char16" />
					<xsd:element name="COMP_CODE" type="tns:char4" />
					<xsd:element name="VENDOR" type="tns:char10" />
					<xsd:element name="PMNT_BLOCK" type="tns:char1" />
					<xsd:element name="TEXTL" type="tns:char20" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZSRETURN">
				<xsd:sequence>
					<xsd:element name="TYPE" type="tns:char1" />
					<xsd:element name="NUMBER" type="tns:numeric3" />
					<xsd:element name="MESSAGE" type="tns:char220" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZFITTSH001_I">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZFISSH001_I" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZFITTSH001">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZFISSH001" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZTTRETURN">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZSRETURN" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZFI_SHIVA_VENDOR_FIND">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="IMP_VENDOR_DATA" type="tns:ZFITTSH001_I" />
						<xsd:element name="I_COMPANYCODE" type="tns:char4" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZFI_SHIVA_VENDOR_FINDResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EXP_VENDOR_DATA" type="tns:ZFITTSH001" />
						<xsd:element name="ST_RETURN" type="tns:ZSRETURN" />
						<xsd:element name="T_RETURN" type="tns:ZTTRETURN" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZFI_SHIVA_VENDOR_FIND">
		<wsdl:part name="parameters" element="tns:ZFI_SHIVA_VENDOR_FIND" />
	</wsdl:message>
	<wsdl:message name="ZFI_SHIVA_VENDOR_FINDResponse">
		<wsdl:part name="parameter" element="tns:ZFI_SHIVA_VENDOR_FINDResponse" />
	</wsdl:message>
	<wsdl:portType name="ZFI_SHIVA_VENDOR_FIND_WS">
		<wsdl:documentation>
			<sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
				<sapdoc:docitem
					docURL="http://vhtcadh1ci.hec.telecom.com.ar:8000/sap/bc/esdt/docu/sd_text?sap-client=200&amp;sd_name=ZFI_SHIVA_VENDOR_FIND_WS" />
				<sapdoc:docitem applicationComponent="FI" />
			</sapdoc:sapdoc>
		</wsdl:documentation>
		<wsp:Policy>
			<wsp:PolicyReference URI="#IF__ZFI_SHIVA_VENDOR_FIND_WS" />
		</wsp:Policy>
		<wsdl:operation name="ZFI_SHIVA_VENDOR_FIND">
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP__ZFI_SHIVA_VENDOR_FIND" />
			</wsp:Policy>
			<wsdl:input message="tns:ZFI_SHIVA_VENDOR_FIND" />
			<wsdl:output message="tns:ZFI_SHIVA_VENDOR_FINDResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ZFI_SHIVA_VENDOR_FIND_BND" type="tns:ZFI_SHIVA_VENDOR_FIND_WS">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZFI_SHIVA_VENDOR_FIND_BND" />
		</wsp:Policy>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ZFI_SHIVA_VENDOR_FIND">
			<soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZFI_SHIVA_VENDOR_FIND_WS:ZFI_SHIVA_VENDOR_FINDRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZFI_SHIVA_VENDOR_FIND_BND_soap12" type="tns:ZFI_SHIVA_VENDOR_FIND_WS">
		<wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZFI_SHIVA_VENDOR_FIND_BND_soap12" />
		</wsp:Policy>
		<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="ZFI_SHIVA_VENDOR_FIND">
			<wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZFI_SHIVA_VENDOR_FIND_WS:ZFI_SHIVA_VENDOR_FINDRequest"
				style="document" />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZFI_SHIVA_VENDOR_FIND_SRV">
		<wsdl:port name="ZFI_SHIVA_VENDOR_FIND_BND" binding="tns:ZFI_SHIVA_VENDOR_FIND_BND">
			<soap:address
				location="https://vhtcadh1ci.hec.telecom.com.ar:44300/sap/bc/srt/rfc/sap/zfi_shiva_vendor_find_ws/200/zfi_shiva_vendor_find_srv/zfi_shiva_vendor_find_bnd" />
		</wsdl:port>
		<wsdl:port name="ZFI_SHIVA_VENDOR_FIND_BND_soap12" binding="tns:ZFI_SHIVA_VENDOR_FIND_BND_soap12">
			<wsoap12:address
				location="https://vhtcadh1ci.hec.telecom.com.ar:44300/sap/bc/srt/rfc/sap/zfi_shiva_vendor_find_ws/200/zfi_shiva_vendor_find_srv/zfi_shiva_vendor_find_bnd" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>